@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f4f6f9;
    margin: 0;
}



/* Sidebar stays fixed on the left */
.sidebar {
    width: 230px;
    height: 100vh;
    /* background: linear-gradient(180deg, #0f2c33, #0a1f24); */
    background-color: #172428;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
}

hr {
    border: none;         
    height: .1px;           
    background-color: #919191; 
}

.sidebar-section {    
    color: #919191;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

.sidebar-section a {
    color: #878e8f;
    font-weight: 600;
}

.sidebar-header {
    display: flex;
    align-items: left;
    gap: 12px;
    margin-bottom: 30px;
    padding: 0px 20px;
}

.sidebar-header span {
  color: #919191;
}

.logo-icon {
  font-size: 26px;
  color: #00bcd4;
}

.sidebar-header h2 {
  font-size: 14px;
  color: white;
}

.sidebar-header span {
  font-size: 12px;
}

.admin-section-title {
    font-size: 11px;
    color: #919191;
    margin: 15px 0 10px 10px;
    letter-spacing: 1px;
}

ul {
  list-style: none;
}

li {
    display: flex;
    justify-content: flex-start; 
    gap: 12px;
    padding: 10px 0px 5px 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 14px;
}

li a {
    color: #919191;
    font-weight: 700;
    text-decoration: none;
    display: block;
    width: 100%;
}

li span {
  font-size: 16px;
}

li:hover {
  background: rgba(255, 255, 255, 0.05);
}

li.active {
  background: rgba(255, 255, 255, 0.08);
  color: white;
  font-weight: 500;
}

.sidebar-footer {
    color: #919191;
    font-weight: 700;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

