/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* CONTAINER */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* ========================= */
/* NAVBAR */
/* ========================= */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255);
    padding: 20px 0; /* only top/bottom padding */
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between; /* logo left, links right */
    align-items: center;
    width: 100%;       /* full width */
    padding: 0 20px;   /* horizontal spacing from edges */
    box-sizing: border-box; /* include padding in width */
    margin: 0px 20px;    /* center container */
}


/* Logo + Text */
.logo {
    display: flex;
    align-items: center;
    gap: 10px; /* space between image and text */
}

/* Circle Image */
.logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/* Text container */
.logo-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2; /* space between main name and subtitle */
}

/* Main title */
.main-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: #1a3a52;
}

/* Subtitle */
.sub-name {
    font-size: 12px;
    margin: 0;
    color: #666;
}

/* Nav links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center; /* vertical align with logo */
    margin: 0;
    padding: 0;
    flex-shrink: 0; /* prevent shrinking */
    margin-left: 20px;
    margin-right: 20px; /* space between logo and nav links */
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    color: #1a73e8;
}


.login-btn {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

/* ========================= */
/* home-btn SECTION */
/* ========================= */


.home-btn {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
                url('../images/lapaseo_bar.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 20px;
}


.home-btn-content {
    max-width: 800px;
}

.home-btn-content h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}

.home-btn-content p {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.6;
    color: rgba(255,255,255,0.9);
}


/* BUTTONS */

.home-btn-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}


.btn-outline {
    padding: 14px 28px;
    border: 2px solid white;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn-outline:hover {
    background: white;
    color: #333;
}









.description {
    padding: 80px 0;
    background: #FDFCF8;
    text-align: center;
}

.section-header h2 {
    font-size: 36px;
    color: #000000;
    margin-bottom: 20px;
}

.section-subtitle {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.8;
    color: #555;
}









/* ROOMS */


/* ================= ROOMS GRID ================= */

.rooms-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

/* Room Card */
.room-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.room-card:hover {
    transform: translateY(-8px);
}

.room-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.room-content {
    padding: 30px;
}

.room-title {
    font-size: 20px;
    margin-bottom: 8px;
}

.room-price {
    font-size: 18px;
    color: #1A8FB5  ;
    margin-bottom: 10px;
}

.room-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}


.amenities {
    padding: 80px 0;
    background: #F4EEE0;
    text-align: center;
}


.section-title {
    font-size: 36px;
    margin-bottom: 10px;
    color: #000000;
}

.rooms-section {
    margin-top: 80px;
    margin-bottom: 80px;
}

.rooms-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 🔥 2 per row */
    gap: 30px;
    padding: 40px;
    margin-bottom: 20px;
}

.room-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.room-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.room-content {
    padding: 20px;
}

.room-content h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.price {
    font-weight: bold;
    color: #0a7ea4;
    margin: 10px 0;
    font-size: 20px;
}

.book-btn {
    width: 100%;
    padding: 12px;
    background: #0a7ea4;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.book-btn:hover {
    background: #066a87;
}


/* AMENITIES */

.amenities {
    padding: 80px 0;
    background: #F4EEE0;
    text-align: center;
}

.amenities-container {
    max-width: 95%;
    margin: auto;
    padding: 0 20px;
}

.section-title {
    font-size: 36px;
    margin-bottom: 10px;
    color: #000000;
}

.section-subtitle {
    color: #666;
    margin-bottom: 50px;
}

.amenities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    gap: 30px;
}

.amenity-card {
    background: #f9f9f9;
    padding: 30px;
    border-radius: 12px;
    transition: 0.3s ease;
}

.amenity-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.amenity-card i {
    font-size: 40px;
    color: #2c7da0;
    margin-bottom: 20px;
}

.amenity-card h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.amenity-card-section p {
    color: #848d95;
    font-size: 17px;
    line-height: 1.5;
}


/* ROOMS AMENITIES */

.rooms-amenities {
    padding: 50px 0;
    background: #F4EEE0;
    text-align: center;
}

.rooms-amenities h3 {
    font-size: 18px;
}

.rooms-amenities-section-title {
    font-size: 25px;
    margin-bottom: 20px;
    color: #000000;
}

.section-subtitle {
    color: #666;
    margin-bottom: 50px;
}

.rooms-amenities-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.rooms-amenity-card {
    background: none;
    padding: 30px;
    border-radius: 12px;
    transition: 0.3s ease; 
    

    display: flex;
    flex-direction: column;   
    align-items: center;     
    justify-content: center;  
    text-align: center;
}

.rooms-amenity-card span{
    width: 70px;
    height: 70px;
    background-color: rgb(9, 133, 175, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.rooms-amenity-card svg {
    height: 35px;
    width: 35px;
}




/* ROOMS */


.room_header {
    margin-top: 5vh;
    padding: 25px;
    background: #F4EEE0;
    
    display: flex;
    flex-direction: column;   
    align-items: center;      
    justify-content: center;  
    text-align: center;
}

.section-title-rooms {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #000000;
    font-size: 6vh;
}

.section-subtitle {
    color: #666;
    margin-bottom: 50px;
}




/* Home */
.filter-bar {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 30px 0;
    flex-wrap: wrap;
}

.filter-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.btn-primary {
    background: #c19b76;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #a67c52;
}

.btn-secondary {
    background-color: rgba(255, 255, 255, 0.1); 
    color: white;
    border: 2px solid white;
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: white; 
    color: black;
}










/* Button Container */
.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

/* Book Now */
.book-btn {
    padding: 8px 15px;
    background: #1A8FB5;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    margin-right: 10px;
    text-align: center;

}

.book-btn:hover {
    background: #7eb8cb;
}

/* View Details */
.details-btn {
    padding: 8px 15px;   /* normal padding */
    background: white;
    color: #333;
    border: 1px solid #c19b76;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;

    white-space: nowrap;   /* prevents text from going to next line */
}


.details-btn:hover {
    background: #c19b76;
    color: white;
}




/* AMENITIES */

.amenities_section {
    padding: 80px 0;
    background: #FDFCF8;
    text-align: center;
    
}

.amenities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    gap: 20px;
}

.amenity-card-section {
    background: #FFFFFF;
    padding: 30px 80px;
    border-radius: 12px;
    transition: 0.3s ease;
    border: 1px solid #dfdfdf;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
}

.amenity-card-section:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25),
                0 10px 20px rgba(193, 155, 118, 0.35);
}

.amenity-card-section i {
    font-size: 30px;
    color: rgb(9, 133, 175);
    background-color: rgb(9, 133, 175, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px 30px;
} 










/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media(max-width:768px){

    .home-btn-content h1 {
        font-size: 36px;
    }

    .nav-links {
        gap: 15px;
    }
}
